@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.aeropuerto-img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  max-height: 400px;
  object-fit: cover;
}

/* Para móvil */
@media (max-width: 768px) {

  body {
    padding: 1rem;
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  nav a {
    font-size: 1rem;
  }

  section {
    padding: 1rem 0;
    text-align: center;
  }

  section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  section p,
  section li {
    font-size: 1rem;
  }

  #proyectos ul {
    flex-direction: column;
    gap: 1rem;
  }

  #proyectos li {
    width: 100%;
  }

  article {
    padding: 1rem;
  }

  form {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  form label,
  form input,
  form textarea {
    width: 100%;
    text-align: left;
  }

  footer {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem 0;
  }

  #conocimientos ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #conocimientos li {
    width: 100%;
  }

  .aeropuerto-img {
    max-height: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  /* Añadido para mejorar presentación en móviles */
  #presentacion {
    padding-top: 7rem; /* baja la sección para que no tape el navbar */
  }

  .zona-presentacion {
    min-height: 160vh; /* extiende el fondo gris más abajo */
  }

  #sobre-mi {
    margin-top: 3rem; /* separación respecto a la sección anterior */
  }
}
